html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

body {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.flex-div {
  display: flex;
  align-items: center;
}

body {
  scroll-behavior: smooth;
}

.container {
  width: 480px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 3%;
  color: #2196f3;
}

header {
  padding: 16px 0px;
}

.logo-span {
  color: #212121;
}

.burger-button {
  background: transparent;
  border: none;
  outline: none;
  display: block;
}

.burger-svg {
  width: 40px;
  height: 40px;
  margin-left: 280px;
}

.hero-heading {
  width: 360px;
  height: 84px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.hero-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  border: none;
  margin-top: 30px;
}

.span-hero-button {
  align-items: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
}

.hero {
  background-image: url(../../assets/img/page-1/telephone/1x/section1-hero/Hero-tel1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 118px 0px;
}

.feature {
  padding: 60px 0px;
}

.feature-heading {
  color: rgb(33, 33, 33);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: center;
  margin-top: 30px;
}

.feature-text {
  color: rgb(117, 117, 117);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  margin-top: 10px;
}

.feature-item:before {
  content: "";
  width: 450px;
  height: 120px;
  display: block;
  background: #f5f4fa;
}
.feature-item:not(:last-child) {
  margin-bottom: 30px;
}

.antenna-li::before {
  content: "";
  background-image: url(../../assets/svg/antenna.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center;
}

.clock-li::before {
  content: "";
  background-image: url(../../assets/svg/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.diagram-li::before {
  content: "";
  background-image: url(../../assets/svg/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.astronaut-li::before {
  content: "";
  background-image: url(../../assets/svg/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.team {
  padding: 60px 0px;
  background-color: rgb(245, 244, 250);
}

.team-heading {
  width: 205px;
  height: 33px;
  color: rgb(33, 33, 33);
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 3%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.team-img {
  width: 450px;
  height: 460px;
}

.team-name {
  color: rgb(33, 33, 33);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
  margin-top: 30px;
}

.team-job {
  color: rgb(117, 117, 117);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
  margin-top: 10px;
}

.media-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.media-icon {
  width: 20px;
  height: 20px;
  fill: rgb(175, 177, 184);
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  padding-bottom: 25px;
}
.team-item:not(:last-child) {
  margin-bottom: 30px;
}

.media-button {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: transparent;
}

.partner {
  padding: 60px 0px;
}

.partner-svg {
  fill: rgb(175, 177, 184);
  width: 210px;
  height: 90px;
  padding: 15px 50px;
  border-radius: 4px;
  border: 1px solid rgb(175, 177, 184);
}

.partner-heading {
  color: rgb(33, 33, 33);
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 3%;
  text-align: center;
}

.partner-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

footer {
  background: rgb(47, 48, 58);
  padding: 60px 0px;
}

.footer-logo {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 3%;
  display: block;
  margin: 0 auto;
  color: #2196f3;
  display: flex;
  justify-content: center;
}

.footer-logo-span {
  color: #fff;
}

.address {
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
}

.contacts-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
}

.social-div {
  margin-top: 60px;
}

.social-div-heading {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}

.social-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-button {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.div-form-footer {
  margin-top: 60px;
}

.label-footer {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: block;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}

.form-footer-input {
  outline: none;
  display: block;
  margin: 0 auto;
  padding-left: 20px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  width: 450px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3%;
}
.form-footer-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3%;
}
.form-footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3%;
}

.form-footer-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
}

.footer-button-svg {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  fill: #fff;
}

.footer-button-text {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
}

.footer-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}