footer {
  background: rgb(47, 48, 58);
  padding: 60px 0px;
}
.footer-logo {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 3%;
  display: block;
  margin: 0 auto;
  color: #2196f3;
  //   упорно нехотіло центруватись через display:flex та margin:0 auto;
  display: flex;
  justify-content: center;
}
.footer-logo-span {
  color: #fff;
}
.address {
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
}
.contacts-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts-item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
}
.social-div {
  margin-top: 60px;
}
.social-div-heading {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}
.social-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.social-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social-button {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.div-form-footer {
  margin-top: 60px;
}
.label-footer {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: block;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}
.form-footer-input {
  outline: none;
  display: block;
  margin: 0 auto;
  padding-left: 20px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  width: 450px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3%;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 3%;
  }
}
.form-footer-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 4px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
}
.footer-button-svg {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  fill: #fff;
}
.footer-button-text {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
}
.footer-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
