.header-logo {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 3%;
  color: #2196f3;
}
header {
  padding: 16px 0px;
}
.logo-span {
  color: #212121;
}
.burger-button {
  background: transparent;
  border: none;
  outline: none;
  display: block;
}
.burger-svg {
  width: 40px;
  height: 40px;
  margin-left: 280px;
}
